<header class="main-header-container">
    <div class="main-header container">
        <div class="header-content">
            <h1>
                <a href= "{% url 'recipes:home'%}" class='main-logo'>
                <i class="fa-solid fa-utensils main-logo-ico"></i>
                <span class='main-name'>Recipes</span></a>
            </h1>
            <div class="menu">
                <div class="menu-content">
                    <a href="{% url "recipes:home" %}"><i class="fa-solid fa-house"></i> Home</a>
                    <a href="{% url "authors:dashboard" %}"><i class="fa-solid fa-clipboard"></i> My Dashbord</a>
                    <a href="{% url "authors:login" %}"><i class="fa-solid fa-user"></i> Login/Loggout</a>
                </div>
            </div>
        </div>
    </div>
</header>